@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Zen+Tokyo+Zoo&display=swap');

//vars fonts
$Titulo: 'Raleway', sans-serif;
$formularioP:'Courier New', Courier, monospace;


//size
$textoTitulo:2em;
$textoM:1.4rem;
$textoChico:1rem;
