.footer {
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 12px $maincolor;
    text-align: center;
    background-color: $gris;
}

.iconos a{
    border-radius: 50%;
}
